anyio==3.3.4
anytree==2.8.0




cryptography==35.0.0
cycler==0.10.0
decorator==5.1.0

dj-database-url==0.5.0
Django==4.0
django-allauth==0.45.0
django-cors-headers==3.10.1
django-heroku==0.0.0
djangorestframework==3.12.4
dnspython==2.1.0
docopt==0.6.2

future==0.18.2
google-api-core==2.2.2
google-api-python-client==2.31.0
google-auth==1.34.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0

gunicorn==20.1.0
h11==0.12.0
html2text==2020.1.16
html5lib==1.1
httplib2==0.19.1
httptools==0.2.0
idna==3.3
importlib-metadata==4.8.1
ipython==7.30.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3


Markdown==3.3.6

matplotlib-inline==0.1.3
meson==0.60.2
more-itertools==8.10.0
msgpack==1.0.2
mypy==0.812

oauth2client==4.1.3
oauthlib==3.1.1
ordered-set==4.0.2
packaging==20.9

paramiko==2.7.2
parso==0.8.2
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pipenv==2021.11.5.post0
platformdirs==2.4.0
ply==3.11
progress==1.6
prompt-toolkit==3.0.22
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0

pycairo==1.20.1
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.11.0
pydantic==1.8.2
PyDrive==1.3.1
Pygments==2.10.0
PyGObject==3.42.0
PyJWT==2.3.0

python-dateutil==2.8.1
python-dotenv==0.19.1
python-xlib==0.31
python3-openid==3.2.0
pytz==2021.3
pyxdg==0.27
PyYAML==5.4.1

reportlab==3.6.2
requests==2.26.0
requests-file==1.5.1
requests-oauthlib==1.3.0
resolvelib==0.5.5
retrying==1.3.3
rsa==4.8
scour==0.38.2
setproctitle==1.2.2
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
sqlparse==0.4.2
starlette==0.16.0

ueberzug==18.1.9

uritemplate==3.0.1
urllib3==1.26.7
uvicorn==0.15.0
uvloop==0.16.0
validate==5.1.0.dev0
virtualenv==20.10.0
virtualenv-clone==0.5.7
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.0
Werkzeug==1.0.1
whitenoise==5.3.0

zipp==3.6.0
