{% extends 'main.html' %} 
{% block content %}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  header {
    background-color: blueviolet;
    min-height: 8vh;
  }

  footer {
    background-color: blueviolet;
    min-height: 8vh;
  }

  a {
    text-decoration: none;
  }
  .recent-activities{
    padding: 0.5rem;
    background-color: aliceblue;
  }
 
</style>

<div class="home-container">

  <div class="side-bar">
   <div class="username">
    {% if request.user.is_authenticated %}
    <mark>Welcome {{ request.user }}</mark>
    <h5>
      <a href="{% url 'logout' %} ">Logout</a>
    </h5>

    {% else %}
    <h5>
      <a href="{% url 'login' %} ">Login</a>
    </h5>

    {% endif %}

   </div>

   <div class="topics">
    {% include 'base/topics_component.html' %}
   </div>

    
  </div>


  <div class="my-room">
    <p> 
    <a href="{% url 'create_room' %}">Create Room</a> |
    <i>{{room_count}} rooms available</i>
    </p> 
    <hr>

    <div>
      {% include 'base/feed_component.html' %}
    </div>
    
  </div>

  <div class="recent-activities">
    {% include 'base/activities_component.html' %}
  </div>
</div>

{% endblock %}
