{% extends 'main.html' %} {% block content %}

{% if page == 'login' %}
<div>
    <form action="" method="POST">
        {% csrf_token %} {{ form.as_table }}
        <label for="username">Username: </label>
        <input
            type="text"
            name="username"
            id="username"
            placeholder="Enter username"
        />
        <label for="password">Password: </label>
        <input
            type="text"
            name="password"
            id="password"
            placeholder="Enter password..."
        />

        <input type="submit" value="Login" />
        <p>Haven't signed up yet?</p>
        <a href="{% url 'register' %}">Sign Up</a>
    </form>
</div>

{% else %}

<div>
    <form action="" method="POST">
        {% csrf_token %} {{ form.as_p }}
        
        <input type="submit" value="Sign Up" />
        <p> Already registered? </p>
        <a href="{% url 'login' %}">Login</a>
    </form>
</div>
{% endif %}
{% endblock content %}
